body{
    background-color: #201D19;
}


#root{
    display: flex;
    flex-direction: column;
}

.squareRow{
    display: flex;
    flex-direction: row;
}

.white{
  background-color: #EBECD0
}

.black{
  background-color: #779556
}

.square{
  height: 80px;
  width: 80px;
}

#root{
  width: fit-content;
  margin: auto;
  margin-top: 15px;
}

.piece{
    width: 100%
}